<div class="page-header">
    <h1>PharmAnalitics</h1>
</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/gender">Gender</a></li>
                <li><a href="/age">Age</a></li>
                {{!-- <li><a href="/dashboard">Dashboard</a></li> --}}
            </ul>

            {{!-- <ul class="nav navbar-nav navbar-right">
                <li><a href="/login">Log In</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul> --}}
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<h6>Text</h6>

{{!-- <form method='post' action="/login">
    
    <select name="gender" id="">
        <option value="M">Male</option>
        <option value="F">Female</option>
    </select>
    
    <select name="" id="">
        <option value="age1">age0to20</option>
        <option value="age2">age21to30</option>
        <option value="age3">age31to40</option>
        <option value="age4">age41to50</option>
        <option value="age5">age51to60</option>
        <option value="age6">age61AndOlder</option>
    </select>
    <input type="submit">
</form>


<div>
    <h6>Graph</h6>
    <div class="container row">
        <script type="text/javascript">google.charts.load("current", { packages: ["corechart"] });
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                let data = google.visualization.arrayToDataTable([
                    ['Пол', 'Проценты'],
                    ['Женщины', {{ gender.m }}],
            ['Мужчины', {{ gender.f }}],

                ]);

            let options = {
                title: 'РАСПРЕДЕЛЕНИЕ ПО ПОЛУ',
                pieHole: 0.50,
                legend: { position: 'bottom' },
                titleTextStyle: {
                    fontSize: 24,
                    bold: true,
                }
            };

            let chart = new google.visualization.PieChart(document.getElementById('donutchart'));
            chart.draw(data, options);
            }
        </script>



        <body>
            <div id="donutchart" style="width: 900px; height: 500px;"></div>
        </body>
    </div> --}}







    {{!-- <div class="container row">
        <div class="jumbotron col-sm-4 pull-center">
            <form action="/login" method="post">
                <div>
                    <label>Username:</label>
                    <input type="text" name="username" />
                </div>
                <div>
                    <label>Password:</label>
                    <input type="password" name="password" />
                </div>
                <div>
                    <input class="btn btn-primary" type="submit" value="Log In" />
                </div>
            </form>
        </div>
    </div> --}}
    {{!-- <form method='post' action="/login">
        <select name="gender" id="">
            <option value="M">Male</option>
            <option value="F">Female</option>
            <input type="submit">
        </select>
    </form> --}}